body {
    background-color: lemonchiffon;
    padding: 50px 50px 50px 50px;
}

h3 {
    background: linear-gradient(45deg, red, green, blue);
    color: yellow;
    width: 800px;
    height: 100px;
    border: solid 10px black;
    border-radius: 20px;
    padding: 50px;
    margin-left: 70px;
    font-size: 50px;
    text-align: center;
}

a {
    color: darkorange;
    font-size: 30px;
    font-style: italic;
}


button {
    font-size: 25px;
    border-radius: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    margin: 0 0 0 200px;
    background-color: darksalmon;
}

.img-style1 {
    border: solid 12px black;
    border-radius: 70px;
    padding: 60px;
    margin: 80px;
    transform: rotate(-25deg);
    filter: blur(4px);
}

.img-style2 {
    border: solid 8px black;
    border-radius: 0 70px 0 70px;
    padding: 60px;
    margin: 80px;
    transform: rotate(180deg);
    filter: grayscale(80%);
    background: linear-gradient(225deg, grey, green, yellowgreen);
}

.img-style3 {
    border: solid 4px black;
    border-radius: 70px 0 70px 0;
    padding: 60px;
    margin: 80px;
    filter: opacity(40%);
    background: linear-gradient(-45deg, blueViolet, red, orange);
}

.img-style4 {
    padding: 60px;
    margin: 80px;
    filter: brightness(40%);
}


.img-style5 {
    padding: 60px;
    margin: 80px;
    filter: brightness(70%) contrast(40%) saturate(300%);
    transform: rotate(20deg);
}

.p-main {
    color: blue;
    font-size: 25px;
    font-weight: bold;
    border: dashed 8px black;
    width: 600px;
    text-align: center;
    margin-left: 200px;
    background: linear-gradient(red, orange, yellow);
    padding: 50px;
    border-radius: 70px;
}